body {
    background-image: url('../img/attraction/background.jpg');
}

.lightbox_with_grid {
    height: 89vh;
    display: flex;
    padding: 5%;
    column-gap: 50px;
    justify-content: space-around;
    margin-top: 5%;

    @media (max-width:1250px) {
        align-items: center;
        margin-top: 7%;
    }

    @media (max-width:880px) {
        margin-top: 9%;
        height: 80vh;
    }

    @media (max-width:786px) {
        display: none;
    }

    .map {
        margin: auto 0 auto 0;
        width: 35%;
        height: 62%;

        @media (max-width:1250px) {
            display: none;
        }

        // border: 1px solid #000;
        iframe {
            border-radius: 5px;
        }


    }
}

#gallery {
    @media (max-width:755px) {
        display: none;
    }

    width: 55%;
    display: grid;
    height: calc(70vh - 10px);
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    grid-gap: 0.5em;

    @media (max-width: 1250px) {
        height: 100%;
        width: 100%;
    }

    &>div {
        &:nth-child(1) {
            grid-column: span 2;
            grid-row: span 1;
        }

        &:nth-child(2) {
            grid-column: span 4;
            grid-row: span 4;
        }

        &:nth-child(3) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(4) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(5) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &:nth-child(6) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(7) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(8) {
            grid-column: span 2;
            grid-row: span 1;
        }

        &:nth-child(9) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(10) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &>a {
            opacity: 0;
            position: absolute;
            color: #000;
            background-color: #000;
            font: bold 4em "Helvetica";
            $shadow: 5px #fff;
            text-shadow: 0 -1px $shadow, -1px 0px $shadow, 0 1px $shadow,
                1px 0px $shadow;
            padding: 2rem;
            mix-blend-mode: difference;
            width: 100%;
            height: 100%;
            transition: all ease 1s;
        }

        &>img {
            width: 100%;
            min-height: 100%;
            transition: all ease 1s;
        }

        &:hover {
            img {
                filter: blur(4px);
            }

            a {
                opacity: 1;
            }
        }
    }

    &>div {
        overflow: hidden;
        position: relative;
        box-shadow: 0 2px 8px 0 rgba(#000, 0.2), 0 3px 20px 0 rgba(#000, 0.19);
    }

    div {
        border-radius: 5px;
    }

    div,
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

//
// lightbox
//
[id^="lightbox-"] {
    @media (max-width:755px) {
        display: none;
    }

    &:target {
        opacity: 1;
        pointer-events: inherit;

        img {
            filter: blur(0);
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.5);
    display: flex;
    opacity:0;
    transition: opacity 450ms ease-in-out;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .content {
        max-width: 90%;
        position: relative;
        color: #fff;

        img {
            border-radius: 5px;
        }

        &:hover>a.close {
            opacity: 1;
            transform: scale(1, 1);
        }

        &:hover>.title {
            opacity: 1;
            transform: translateY(-3px); //Fix extra line at end

            &::after {
                opacity: 1;
            }
        }

        &>* {
            transition: all 450ms ease-in-out;
        }
    }

    .title {
        display: block;
        margin: 0;
        padding: 1em;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(50%);
        font-size: 1.5em;
        opacity: 0;

        &::after {
            content: ' ';
            background-color: rgba(black, 0.4);
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: all 350ms ease-in-out 250ms;
            opacity: 0;
            transform-origin: bottom;
            mix-blend-mode: soft-light;
        }
    }

    img {
        max-height: 90vh;
        max-width: 100%;
        margin: 0;
        padding: 0;
        filter: blur(50px);
    }

    a.close {
        width: 2em;
        height: 2em;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(black, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0, 0);
        opacity: 0;
        transform-origin: right top;
        text-decoration: none;
        color: #fff;

        &::after {
            content: "X";
        }
    }
}

.map_bottom {
    display: none;
    padding: 0 5% 5% 5%;
    height: 50vh;

    iframe {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 1250px) {
        display: block;
    }

    @media (max-width:586px) {
        padding: 0 15px 15px 15px;
    }

    @media (max-width:440px) {
        padding: 0;
        margin-top: 15px;
    }
}