.dataTables_wrapper {
    label {
        color: rgba(255, 255, 255, 0.7);

        @media (max-width:1250px) {
            margin-right: 25px;
        }
    }

    .dataTables_filter {
        input {
            border: 2px solid rgba(255, 255, 255, 0.7);
        }
    }

    .dataTables_paginate {
        .ellipsis {
            color: rgba(255, 255, 255, 0.7);
        }

        .paginate_button {
            color: rgba(255, 255, 255, 0.7) !important;

            .current:hover {
                color: rgba(255, 255, 255, 0.7) !important;
                border: 2px solid rgb(255, 255, 255);
            }
        }

        .paginate_button:hover {
            background: linear-gradient(to bottom, #ecf0f7 0%, #96c4d2 100%);
            border: 1px solid rgba(255, 255, 255, 0.7);
        }

        .paginate_button.current {
            color: rgba(255, 255, 255, 0.7) !important;
            border: 2px solid rgb(255, 255, 255);
        }

        .paginate_button.current:hover {
            background: linear-gradient(to bottom, #ecf0f7 0%, #96c4d2 100%);
            border: 2px solid rgba(255, 255, 255, 0.7);
            color: rgba(255, 255, 255, 0.7) !important;
        }

    }
}

body {
    background-image: url('../img/hotel/hotel_background.jpg');
    background-repeat: no-repeat;
    color: white;

    @media (max-width:1250px) {
        background-size: cover;
        background-repeat: repeat;
    }
}

#data {
    padding: 0% 3%;
    margin-top: 6%;

    @media (max-width:1250px) {
        padding: 0;
        margin-top: 10%;
    }

    @media (max-width:786px) {
        margin-top: 19%;
    }

    @media (max-width:657px) {
        margin-top: 26%;
    }

    @media (max-width:510px) {
        margin-top: 30%;
    }

    @media (max-width:480px) {
        width: calc(100vw - 17px);
        margin-top: 50%;
    }

    h1 {
        font-size: 1.3em;
        float: left;
    }

    #table_id_wrapper {
        #table_id {
            border-spacing: 20px 10px;
            height: 80%;

            @media (max-width:667px) {
                border-spacing: 0px 10px;
            }

            thead {
                display: none;
            }

            tbody {
                margin-top: 20px;
                background-color: transparent;
                height: 80%;

                @media (max-width:1250px) {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 15px;
                }

                tr {
                    display: block;
                    height: 80%;

                    @media (max-width:1250px) {
                        width: 100%;
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;
                    }

                    td {
                        column-gap: 25px;
                        width: 30%;
                        background-color: #97C9D5;
                        opacity: .9;
                        padding: 15px;
                        border: 1px solid #000;
                        border-radius: 15px;

                        @media (max-width:1250px) {
                            width: 70%;
                            height: calc(80vh / 3);
                            margin: auto;
                        }

                        @media (max-width:960px) {
                            width: 85%;
                            height: calc(64vh / 3);
                        }

                        @media (max-width:786px) {
                            width: 95%;
                        }

                        @media (max-width:657px) {
                            width: calc(100% - 38px);
                            height: calc(50vh / 3);
                        }


                        .info_card {
                            height: 20vh;
                            width: 100%;
                            display: flex;
                            background-color: transparent;

                            @media (max-width:1250px) {
                                height: 100%;
                            }

                            .img {
                                width: 40%;

                                @media (max-width:786px) {
                                    width: 44%;
                                }

                                @media (max-width:440px) {
                                    width: 70%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 15px;
                                }
                            }

                            .content {
                                width: 60%;
                                height: 100%;
                                margin-left: 4%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                row-gap: 7px;
                                position: relative;
                                font-size: 19px;

                                

                                @media (max-width:550px) {
                                    font-size: 17px;
                                }
                                @media (max-width:450px) {
                                    font-size: 15px;
                                }
                                @media (max-width:375px) {
                                    font-size: 14px;
                                }

                                a {
                                    // position: absolute;
                                    // top: 0%;
                                    width: 100%;
                                    height: 30px;
                                }

                                h1,
                                p,
                                a {
                                    margin: 0;
                                    text-decoration: unset;
                                    color: black;
                                    letter-spacing: .25em;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

.top_btn {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-140%, -140%);

    img {
        height: 100px;

        @media (max-width:480px) {
            height: 70px;
        }
    }
}

html {
    scroll-behavior: smooth;
}

nav {
    .container {
        .nav {
            .menu-wrap .menu {
                margin-right: 7%;
            }

            .menu-wrap {
                ul {
                    .dropdown-content.list2 {
                        left: 0;
                        transform: translateX(-7%);
                    }
                }
            }

        }
    }
}