* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.loader {
    width: 100%;
    height: 100vh;
    background-image: url('../img/index/background.jpg');
    background-size: cover;


    .cloud {
        width: 100%;
        height: 100%;
        background-image: url('../img/index/animation_background.jpg');
        background-size: cover;
        animation: loading_animation 3s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        
    }

    .menu {
        width: 70%;
        height: 60%;
        position: absolute;
        top: 44%;
        left: 47%;
        transform: translate(-46%, -42%);
        display: flex;
        column-gap: 30px;

        @media (max-width:1250px) {
            transform: translate(-50%, -50%);
            flex-direction: column;
            row-gap: 25px;
            width: 50%;
            height: 80vh;
            top: 50%;
            left: 50%;
        }

        @media (max-width:786px) {
            width: 69%;
            height: 60vh;
        }

        @media (max-width:540px) {
            width: 85%;
            height: 50vh;
        }

        .index_menu1,
        .index_menu2,
        .index_menu3,
        .index_menu4 {
            width: 17%;
            height: 100%;
            transition: 0.8s;
            animation: menu_animation1280 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
            animation-fill-mode: forwards;

            @media (max-width:1250px) {
                width: 100%;
                height: calc((100% - 75px)/4);
                transition: 0.8s;
                animation: menu_animation1250 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
                animation-fill-mode: forwards;
            }

            @media (max-width:786px) {
                width: 100%;
                height: 120px;
            }

            @media (max-width:540px) {
                width: 100%;
                height: 100px;
            }
        }

        .open {
            width: 34%;
            z-index: 3;

            @media (max-width:1250px) {
                width: 100%;
            }
        }

        .menu_title1,
        .menu_title2,
        .menu_title3,
        .menu_title4 {
            width: 100%;
            height: 30%;
            background-color: #69B1C2;
            position: absolute;
            top: 100%;
            transform: translateY(-100%);
            display: flex;
            flex-direction: column;
            color: white;
            opacity: .7;
            text-align: center;
            letter-spacing: .3em;
            line-height: 1.5em;
            font-size: 1.3em;
            padding-top: 3%;

            p:nth-child(1) {
                position: absolute;
                top: 63%;
                left: 7%;
                @media (max-width:786px) {
                    top: 46%;
                }
            }
            p:nth-child(2) {
                position: absolute;
                top: 78%;
                left: 7%;
                @media (max-width:786px) {
                    top: 70%;
                }
            }

                @media (max-width:1250px) {
                    height: 100%;
                    font-size: 1em;
                }

                @media (max-width:540px) {
                    padding-top: 1%;
                    font-size: 0.8em;
                }
            }
        }

        .index_menu1 {
            background-image: url('../img/index/4cards/transportation.jpg');
            background-size: auto 100%;
            position: absolute;
            top: -5%;
            left: 5%;

            @media (max-width:1250px) {
                background-image: url('../img/index/4cards/yachttablet.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                top: 0%;
                left: 0%;
            }

            @media (max-width:786px) {
                background-image: url('../img/index/4cards/yachttablet.png');
            }
        }

        .index_menu2 {
            background-image: url('../img/index/4cards/food.jpg');
            background-size: cover;
            background-position: 40% 0%;
            position: absolute;
            top: 5%;
            left: 25%;

            @media (max-width:1250px) {
                background-image: url('../img/index/4cards/515x150/food515x150.png');
                position: relative;
                top: 0%;
                left: 0%;
            }

            @media (max-width:786px) {
                background-image: url('../img/index/4cards/260x100/food260x100.png');
            }
        }

        .index_menu3 {
            background-image: url('../img/index/4cards/accommodation.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: -5%;
            left: 45%;

            @media (max-width:1250px) {
                background-image: url('../img/index/4cards/515x150/accommodation515x150.png');
                position: relative;
                top: 0%;
                left: 0%;
            }

            @media (max-width:786px) {
                background-image: url('../img/index/4cards/260x100/accommodation260x100.png');
                background-size: cover;
            }
        }

        .index_menu4 {
            background-image: url('../img/index/4cards/attractions.jpg');
            background-size: cover;
            background-position: 75% 0%;
            position: absolute;
            left: 65%;
            top: 5%;

            @media (max-width:1250px) {
                background-image: url('../img/index/4cards/515x150/attractions515x150.png');
                position: relative;
                top: 0%;
                left: 0%;
            }

            @media (max-width:786px) {
                background-image: url('../img/index/4cards/260x100/attractions260x100.png');
            }
        }


    }


    .index_title {
        width: 141px;
        color: white;
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(0, -50%);
        animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
        animation-fill-mode: forwards;
        letter-spacing: .3em;
        line-height: 1.5em;

        @media (max-width:1250px) {
            top: 0%;
            transform: translateY(25%);
            font-size: 0%;
            width: 150px;
            height: 50px;
            background-image: url('../img/nav/Logo.svg');
            background-repeat: no-repeat;
        }
    }


    @keyframes loading_animation {
        0% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
        }

        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
            display: none;
            opacity: 0;
        }
    }

    @keyframes menu_animation1280 {
        0% {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }

        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    @keyframes menu_animation1250 {
        0% {
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        }

        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }