* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.show {
    display: block;
}

nav {
    height: 128px;

    .container {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        margin: 0 auto;
        z-index: 3;

        #navLogo {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 105px;
            opacity: 0.7;
            margin: 0 30px;

        }

        .nav {
            .menu-wrap {
                display: flex;
                padding: 0 5%;

                // checkbox
                .toggler {
                    position: fixed;
                    top: 20px;
                    right: 4%;
                    z-index: 2;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    opacity: 0;

                    /* Toggler Animation */
                    &:checked+.hamburger>div {
                        transform: rotate(135deg);
                    }

                    /* Turns Lines Into X */
                    &:checked+.hamburger>div:before,
                    &:checked+.hamburger>div:after {
                        top: 0;
                        transform: rotate(90deg);
                    }

                    /* Rotate On Hover When Checked */
                    &:checked:hover+.hamburger>div {
                        transform: rotate(225deg);
                    }

                    /* Show Menu */
                    &:checked~.menu {
                        visibility: visible;
                    }

                    &:checked~.menu>.inner-layer {
                        transform: scale(1);
                        transition-duration: 0.75s
                    }

                    &:checked~.menu>.through-layer {
                        opacity: 1;
                        transition: opacity 0.4s ease 0.4s;
                    }

                }

                .hamburger {
                    position: fixed;
                    top: 30px;
                    left: 85%;
                    z-index: 1;
                    width: 60px;
                    height: 60px;
                    padding: 1rem;
                    // background-color: blanchedalmond;
                    visibility: hidden;
                    /* 變版開關 */
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 1180px) {
                        left: 90%;
                    }

                    @media (max-width: 650px) {
                        left: 88%;
                    }

                    @media (max-width: 550px) {
                        left: 86%;
                    }
                    @media (max-width: 450px) {
                        left: 85%;
                    }

                    .hambar {
                        /* Hamburger Line */
                        position: relative;
                        flex: none;
                        width: 100%;
                        height: 2px;
                        background-color: rgb(255, 255, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.4s ease;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            top: -10px;
                            width: 100%;
                            height: 2px;
                            background: inherit;
                            /* Hamburger Lines - Top & Bottom */
                        }

                        &::after {
                            top: 10px;
                            /* Moves Line Down */
                        }

                    }
                }

                .menu {
                    width: 100vw;
                    height: 100%;
                    visibility: visible;
                    // overflow: hidden;
                    // 不讓navbar下拉選單看不到

                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .inner-layer {
                        border-radius: 50%;
                        align-items: center;

                        /* 變化出現菜單效果 */
                        .through-layer {
                            text-align: center;
                            opacity: 1;
                            /* 一開始先透明 */

                        }
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0px;
                    position: relative;

                    li {
                        display: flex;
                        margin: 10px;
                        opacity: 0.9;
                        font-size: 30px;

                        a {
                            // / 下拉選單字體顏色(清單)
                            color: #fff;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            font-size: 18px;
                        }
                    }

                    .dropdown {
                        float: left;
                        // overflow: hidden;
                        font-size: 30px;
                        color: #fff;


                        .dropbtn {
                            font-size: 18px;
                            letter-spacing: 2px;
                            opacity: 0.9;
                            border: none;
                            outline: none;
                            // 下拉選單字體顏色(btn)
                            color: rgb(255, 255, 255);
                            background-color: transparent;
                            font-family: inherit;
                            margin: 0;


                            &:hover {
                                mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
                                mask-size: 200%;
                                animation: shine 2s infinite;
                                text-decoration: line-through double #78b2c4 .5px;
                                animation-play-state: paused;
                            }
                        }
                    }

                    .dropdown-content {
                        display: none;
                        min-width: 160px;
                        // z-index: 1;

                        &.list1 {
                            position: absolute;
                            top: 90%;
                            right: 15%;
                            padding: 5px;
                        }

                        &.list2 {
                            position: absolute;
                            top: 90%;
                            left: 84%;
                            padding: 5px;
                        }

                        &.show {
                            display: block;
                        }
                    }
                }
            }

        }

        a {
            letter-spacing: .5px;

            &:hover {
                mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
                mask-size: 200%;
                animation: shine 2s infinite;
                text-decoration: line-through double #78b2c4 .5px;

            }

            @keyframes shine {
                from {
                    -webkit-mask-position: 150%;
                }

                to {
                    -webkit-mask-position: -50%;
                }
            }
        }



        .theme {
            font-size: 1rem;
            // navbar字體大小
            color: grey;
            // navbar字體顏色
            text-align: center;
            opacity: 0.9;
            letter-spacing: 2px;
            font-weight: lighter;
        }
    }
}

// 單元標題
#subject {
    font-size: 28px;
    position: absolute;
    top: 85px;
    left: 80px;
    letter-spacing: 5px;
    z-index: 1;

    @media (max-width: 530px){
        left: 7%;
    }

    span {
        color: rgb(86, 98, 98);
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-name: larger;

        &:hover {
            animation-play-state: paused;
        }
    }

    &:nth-child(1) {
        animation-delay: 0s;
    }

    &:nth-child(2) {
        animation-delay: 1.5s;
    }

    &:nth-child(3) {
        animation-delay: 0.2s;
    }

    &:nth-child(4) {
        animation-delay: 0.5s;
    }

    @keyframes larger {
        0% {
            font-weight: 100;
        }

        15% {
            font-weight: 150;
        }

        30% {
            font-weight: 200;
        }

        45% {
            font-weight: 250;
        }

        60% {
            font-weight: 300;
        }

        75% {
            font-weight: 400;
        }

        100% {
            font-weight: 500;
            color: #10c3fa;
        }


    }


}


// Rwd變版
@media screen and (max-width: 1180px) {
    nav {
        .container {
            padding: 0;

            #navLogo {
                top: 40px;
                left: 5%;
                width: 100px;
            }

            .nav {
                .menu-wrap {
                    padding: 0;

                    .hamburger {
                        visibility: visible;
                    }

                    .menu {
                        margin: 0;
                        position: absolute;
                        z-index: -1;
                        top: 0px;
                        left: 0px;
                        visibility: hidden;
                        height: 100vh;
                        background-color: #62939e;
                        opacity: 0.95;

                        .inner-layer {
                            border-radius: 50%;
                            width: 200vw;
                            display: flex;
                            // flex: none;
                            align-items: center;
                            justify-content: center;
                            transform: scale(0);
                            /* 變化出現菜單效果 */
                            transition: all 0.5s ease;
                            z-index: 2;

                            .through-layer {
                                width: 100%;
                                transition: opacity 0.4s ease;

                                ul {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 5px;

                                    li {
                                        flex-direction: column;

                                        a {
                                            color: whitesmoke;
                                            letter-spacing: 2px;
                                            font-size: 18px;
                                            padding: 5px;
                                        }

                                        .dropbtn {
                                            color: whitesmoke;
                                            padding: 0px 5px;
                                            font-size: 18px;
                                        }

                                        .dropdown-content {
                                            // display: none;

                                            &.list1,
                                            &.list2 {
                                                position: unset;
                                                padding: 3px;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                justify-content: center;

                                                a {
                                                    font-size: 14px;
                                                    margin: 5px;
                                                    letter-spacing: 3px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 單元標題
    #subject {
        font-size: 22px;
        letter-spacing: 3px;
    }
}