.cb-image-grid {
  $cb: &;

  @media (min-width:786px) {
    display: none;
  }

  @media (max-width:786px) {
    display: block;
    column-gap: 0;
    height: 50vh;
    padding: 0 5%;
  }

  @media (max-width:786px) {
    height: 41vh;
  }

  @media (max-width:586px) {
    height: 36vh;
    padding: 0 15px 0 15px;
    margin-top: 23%;
  }

  @media (max-width:510px) {
    height: 33vh;
    margin-top: 23%;
  }

  @media (max-width:440px) {
    padding: 0;
    height: 28vh;
    margin-top: 30%;
  }

  color: white;
  font-family: Arial,
  "Helvetica Neue",
  Helvetica,
  sans-serif;
  margin-top: 20%;
  margin-bottom: 5%;

  &--type-one {
    #{$cb}__container {
      width: 100%;
      height: 101%;

      #{$cb}__images-container {
        height: 100%;
      }

      #{$cb}__image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: inline-block;

        &:hover {
          img {
            transform: scale(1.075);
          }
        }

        img {
          border-radius: 4px;
          overflow: hidden;
          z-index: 0;
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          transition: transform 0.6s;
          will-change: transform;
        }

        // @for $i from 1 through 100 {
        //   &:nth-child(#{$i}) {
        //     $h: (random(400) + 200) + px;
        //     height: $h;
        //   }
        // }
      }
    }
  }
}

[lightbox-toggle] {
  cursor: zoom-in;

  &:after {
    position: absolute;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="white" stroke="black" stroke-opacity="0.25" stroke-width="0.25" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm1-7h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H7a1 1 0 0 1 0-2h2V7a1 1 0 1 1 2 0v2z"/></svg>');
    height: 32px;
    width: 32px;
    bottom: 0;
    right: 0;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s;
  }

  &:hover {
    &:after {
      opacity: 1;
      filter: drop-shadow(2px 4px 6px black);
    }
  }
}

.c-lightbox {
  $c: &;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  #{$c}__container {
    width: 100%;
    height: 100%;
  }

  #{$c}__close {
    z-index: 999999;
    position: absolute;
    cursor: pointer;
    top: 1vh;
    right: 1vw;
    font-size: 30px;
    padding: 20px;
    color: white;

    &:hover {
      color: red;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    color: white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    top: 50%;
    transform: translateY();

    &:hover {
      color: red;
    }

    &:after {
      font-size: 30px;
    }
  }

  #{$c}__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 75%;
    text-align: center;
    cursor: zoom-in;

    img {
      width: auto;
      height: auto;
      max-height: 90vh;
      max-width: 90vw;
    }
  }
}