body {
    background-image: url(../img/transp/bg-transportion.jpg);
}


#wholeArticle {
    margin-top: 200px;
}

.header{

    height: 80px;
    margin: 20px 5%;
    border: 2px;


    .titleBox {
        width: calc(100vw - 5%);
        background: linear-gradient(90deg, rgba(119, 165, 176, 1) 11%, rgba(216, 238, 244, 1) 53%, rgba(191, 244, 255, 0) 100%);
        border-radius: 30px;
        opacity: 0.7;
        font-size: 36px;
        color: white;
        font-weight: 400em;
        line-height: 80px;
        text-align: justify;
        letter-spacing: 5px;
        padding-left: 50px;
        opacity: 0.9;
    }
}

#info {
    max-width: 100%;
    width: 1500px;
    padding: 10px 7%;
    font-size: 18px;
    letter-spacing: 1.5px;
    overflow: hidden;

    h2 {
        margin: 10px;
    }


    p {
        padding-left: 20px;
        white-space: pre-line;
    }

    table {
        padding: 20px;
    }

    th,
    td {
        padding: 20px;
        margin: 10px;
        background-color: #96D4D4;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 5px;
        opacity: 0.9;
    }

    dt {
        line-height: 55px;
        white-space: pre-line;

        dd {
            line-height: 30px;
            white-space: pre-line;
        }
    }

    img {
        max-width: 100%;
        width: 1200px;
        transform: rotate(20deg);

    }

    iframe {
        margin: 50px;
        border-radius: 20px;
    }

}


@media screen and (max-width: 866px) {

    #wholeArticle {
        margin-top: 160px;


        section {
            line-height: 50px;
            max-width: 80%;

            .titleBox{
                font-size: 26px;
            }

            .midBox {
                display: none;
            }
        }

        .oilstop {
            width: 100%;
            padding: 50px;
            border-radius: 50px;
        }

    }

}