* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: calc(1600px + 10%);
        width: 100%;
        margin: 0 auto;
        padding: 0 5%;

            #navLogo {
                position: absolute;
                top: 40px;
            }
        
        .nav {
            ul {
                display: flex;

                li {
                    display: flex;
                    margin: 15px;

                    .icon {
                        margin: 10px;

                        i {
                            font-size: 30px;
                        }
                    }

                    .theme {
                        font-size: 18px;
                        text-align: center;
                        color: #02171C;
                    }
                }
            }
        }
    }
}