* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-image: url(../img/food/food_bg_1920x1080.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Noto Sans TC', sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: calc(1600px + 10%);
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

header .container #navLogo {
  position: absolute;
  top: 40px;
  width: 80px;
  opacity: 0.7;
}

header .container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

header .container .nav ul li .icon {
  margin: 10px;
  opacity: 0.9;
}

header .container .nav ul li .icon i {
  font-size: 18px;
}

header .container .nav ul li .theme {
  font-size: 12px;
  text-align: center;
  letter-spacing: .5px;
  color: #02171C;
  opacity: 0.9;
}

section {
  position: relative;
  max-width: calc(1600px + 10%);
  width: 100%;
  height: calc(100vh - 200px);
  margin: 0 auto;
  padding: 0 5%;
}

section .heading {
  position: absolute;
  left: 10%;
  font-size: 40px;
  letter-spacing: 5px;
  color: #054E67;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

section .circle {
  position: absolute;
  left: 11%;
  max-width: calc(1600px + 10%);
  width: 90%;
  height: calc(100vh - 200px);
}

@media (max-width: 1770px) {
  section .circle {
    width: 86%;
    left: 14%;
  }
}

@media (max-width: 1550px) {
  section .circle {
    width: 84%;
    left: 16%;
  }
}

@media (max-width: 1530px) {
  section .circle {
    width: 80%;
    left: 20%;
  }
}

section .circle .food1 {
  position: relative;
  top: 7%;
  left: 40%;
  background-image: url(../img/food/food1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food1 {
    left: 38%;
  }
}

@media (max-width: 1600px) {
  section .circle .food1 {
    left: 36%;
  }
}

@media (max-width: 1580px) {
  section .circle .food1 {
    left: 34%;
  }
}

@media (max-width: 1550px) {
  section .circle .food1 {
    top: 5%;
  }
}

@media (max-width: 1530px) {
  section .circle .food1 {
    top: 32%;
    left: 12%;
  }
}

@media (max-width: 1450px) {
  section .circle .food1 {
    left: 30%;
  }
}

section .circle .food2 {
  position: relative;
  top: -5%;
  left: 7%;
  background-image: url(../img/food/food2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food2 {
    left: 5%;
  }
}

@media (max-width: 1600px) {
  section .circle .food2 {
    left: 4%;
  }
}

@media (max-width: 1580px) {
  section .circle .food2 {
    left: 2%;
  }
}

@media (max-width: 1550px) {
  section .circle .food2 {
    top: -1%;
    left: 1%;
  }
}

@media (max-width: 1530px) {
  section .circle .food2 {
    left: -1%;
  }
}

@media (max-width: 1500px) {
  section .circle .food2 {
    left: -2%;
  }
}

@media (max-width: 1450px) {
  section .circle .food2 {
    left: -3%;
  }
}

section .circle .food3 {
  position: relative;
  top: -16%;
  left: 44%;
  background-image: url(../img/food/food3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food3 {
    top: -18%;
    left: 42%;
  }
}

@media (max-width: 1600px) {
  section .circle .food3 {
    left: 40%;
  }
}

@media (max-width: 1580px) {
  section .circle .food3 {
    left: 39%;
  }
}

@media (max-width: 1550px) {
  section .circle .food3 {
    top: -18%;
  }
}

@media (max-width: 1530px) {
  section .circle .food3 {
    top: -10%;
    left: 36%;
  }
}

@media (max-width: 1450px) {
  section .circle .food3 {
    left: 34%;
  }
}

section .circle .food4 {
  position: relative;
  top: -94%;
  left: 59%;
  background-image: url(../img/food/food4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food4 {
    left: 57%;
  }
}

@media (max-width: 1600px) {
  section .circle .food4 {
    left: 55%;
  }
}

@media (max-width: 1580px) {
  section .circle .food4 {
    left: 54%;
  }
}

@media (max-width: 1550px) {
  section .circle .food4 {
    top: -87%;
  }
}

@media (max-width: 1530px) {
  section .circle .food4 {
    top: -78%;
    left: 52%;
  }
}

@media (max-width: 1450px) {
  section .circle .food4 {
    left: 50%;
  }
}

section .circle .food5 {
  position: relative;
  top: -90%;
  left: 65%;
  background-image: url(../img/food/food5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food5 {
    left: 64%;
  }
}

@media (max-width: 1600px) {
  section .circle .food5 {
    left: 62%;
  }
}

@media (max-width: 1580px) {
  section .circle .food5 {
    left: 60%;
  }
}

@media (max-width: 1550px) {
  section .circle .food5 {
    top: -85%;
    left: 61%;
  }
}

@media (max-width: 1530px) {
  section .circle .food5 {
    top: -74%;
    left: 58%;
  }
}

@media (max-width: 1450px) {
  section .circle .food5 {
    left: 56%;
  }
}

section .circle .food6 {
  position: relative;
  top: -86%;
  left: 60%;
  background-image: url(../img/food/food6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food6 {
    left: 60%;
  }
}

@media (max-width: 1600px) {
  section .circle .food6 {
    left: 57%;
  }
}

@media (max-width: 1550px) {
  section .circle .food6 {
    top: -78%;
  }
}

@media (max-width: 1530px) {
  section .circle .food6 {
    top: -70%;
    left: 55%;
  }
}

@media (max-width: 1450px) {
  section .circle .food6 {
    left: 53%;
  }
}

section .circle .food7 {
  position: relative;
  top: -127%;
  left: 9%;
  background-image: url(../img/food/food7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food7 {
    left: 7%;
  }
}

@media (max-width: 1580px) {
  section .circle .food7 {
    left: 5%;
  }
}

@media (max-width: 1550px) {
  section .circle .food7 {
    top: -111%;
  }
}

@media (max-width: 1530px) {
  section .circle .food7 {
    top: -98%;
    left: 3%;
  }
}

@media (max-width: 1450px) {
  section .circle .food7 {
    left: 1%;
  }
}

section .circle .food8 {
  position: relative;
  top: -220%;
  left: 19%;
  background-image: url(../img/food/food8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food8 {
    left: 17%;
  }
}

@media (max-width: 1580px) {
  section .circle .food8 {
    left: 15%;
  }
}

@media (max-width: 1550px) {
  section .circle .food8 {
    top: -200%;
  }
}

@media (max-width: 1530px) {
  section .circle .food8 {
    top: 188%;
    left: 13%;
  }
}

@media (max-width: 1450px) {
  section .circle .food8 {
    left: 11%;
  }
}

section .circle .food9 {
  position: relative;
  top: -220%;
  left: 23%;
  background-image: url(../img/food/food9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food9 {
    left: 21%;
  }
}

@media (max-width: 1600px) {
  section .circle .food9 {
    left: 19%;
  }
}

@media (max-width: 1580px) {
  section .circle .food9 {
    left: 17%;
  }
}

@media (max-width: 1550px) {
  section .circle .food9 {
    top: -198%;
  }
}

@media (max-width: 1530px) {
  section .circle .food9 {
    top: -183%;
    left: 14%;
  }
}

@media (max-width: 1450px) {
  section .circle .food9 {
    left: 12%;
  }
}

section .circle .food10 {
  position: relative;
  top: -216%;
  left: 31%;
  background-image: url(../img/food/food10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  section .circle .food10 {
    left: 29%;
  }
}

@media (max-width: 1600px) {
  section .circle .food10 {
    left: 27%;
  }
}

@media (max-width: 1580px) {
  section .circle .food10 {
    left: 28%;
  }
}

@media (max-width: 1550px) {
  section .circle .food10 {
    top: -194%;
  }
}

@media (max-width: 1530px) {
  section .circle .food10 {
    top: -180%;
    left: 27%;
  }
}

.twoHundred {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.twoHundred:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1550px) {
  .twoHundred {
    width: 180px;
    height: 180px;
  }
}

.twoHundred-b {
  position: absolute;
  margin-top: 100px;
  width: 200px;
  height: 100px;
  border-radius: 0 0 100px 100px;
  color: #fff;
  background-color: rgba(5, 78, 103, 0.8);
}

@media (max-width: 1550px) {
  .twoHundred-b {
    margin-top: 90px;
    width: 180px;
    height: 90px;
    border-radius: 0 0 90px 90px;
  }
}

.twoHundred-b .number {
  margin-top: -15%;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.twoHundred-b .title {
  margin: 2px;
  font-size: 19px;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1550px) {
  .twoHundred-b .title {
    font-size: 15px;
  }
}

.twoFive {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.twoFive:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1550px) {
  .twoFive {
    width: 230px;
    height: 230px;
  }
}

.twoFive-b {
  position: absolute;
  margin-top: 125px;
  width: 250px;
  height: 125px;
  border-radius: 0 0 125px 125px;
  color: #fff;
  background-color: rgba(5, 78, 103, 0.8);
}

@media (max-width: 1550px) {
  .twoFive-b {
    margin-top: 115px;
    width: 230px;
    height: 115px;
    border-radius: 0 0 115px 115px;
  }
}

.twoFive-b .number {
  margin-top: -12%;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.twoFive-b .title {
  margin: 6px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1550px) {
  .twoFive-b .title {
    font-size: 20px;
  }
}

.threeHundred {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.threeHundred:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1550px) {
  .threeHundred {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 1530px) {
  .threeHundred {
    width: 230px;
    height: 230px;
  }
}

.threeHundred-b {
  position: absolute;
  margin-top: 150px;
  width: 300px;
  height: 150px;
  border-radius: 0 0 150px 150px;
  color: #fff;
  background-color: rgba(5, 78, 103, 0.8);
}

@media (max-width: 1550px) {
  .threeHundred-b {
    margin-top: 140px;
    width: 280px;
    height: 140px;
    border-radius: 0 0 140px 140px;
  }
}

@media (max-width: 1530px) {
  .threeHundred-b {
    margin-top: 115px;
    width: 230px;
    height: 115px;
    border-radius: 0 0 115px 115px;
  }
}

.threeHundred-b .number {
  margin-top: -10%;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1530px) {
  .threeHundred-b .number {
    margin-top: -12%;
  }
}

.threeHundred-b .title {
  margin: 18px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1550px) {
  .threeHundred-b .title {
    font-size: 23px;
  }
}

@media (max-width: 1530px) {
  .threeHundred-b .title {
    font-size: 20px;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(5, 78, 103, 0.8);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay .closebtn:hover {
  color: #f1f1f1;
}

.overlay .closebtn:focus {
  color: #f1f1f1;
}

.overlay .overlay-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 20%;
  /* left: 50%; */
  width: 100%;
  margin-top: 30px;
}

.overlay .overlay-content .container img {
  width: 500px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.overlay .overlay-content .description {
  margin-left: 70px;
  padding-top: 85px;
}

.overlay .overlay-content .description .number {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.overlay .overlay-content .description .title {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.overlay .overlay-content .description .location a {
  padding: 0;
  font-size: 25px;
  color: #fff;
}

.overlay .overlay-content .description .text {
  font-size: 25px;
  color: #fff;
}
/*# sourceMappingURL=food.css.map */