@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.loader {
  width: 100%;
  height: 100vh;
  background-image: url("../img/index/background.jpg");
  background-size: cover;
}

.loader .cloud {
  width: 100%;
  height: 100%;
  background-image: url("../img/index/animation_background.jpg");
  background-size: cover;
  -webkit-animation: loading_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: loading_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader .menu {
  width: 1090px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-46%, -42%);
          transform: translate(-46%, -42%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1250px) {
  .loader .menu {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 41%;
    height: 80vh;
  }
}

@media (max-width: 540px) {
  .loader .menu {
    width: 69%;
    height: 70vh;
  }
}

.loader .menu .index_menu1,
.loader .menu .index_menu2,
.loader .menu .index_menu3,
.loader .menu .index_menu4 {
  width: 200px;
  height: 93%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1250px) {
  .loader .menu .index_menu1,
  .loader .menu .index_menu2,
  .loader .menu .index_menu3,
  .loader .menu .index_menu4 {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 540px) {
  .loader .menu .index_menu1,
  .loader .menu .index_menu2,
  .loader .menu .index_menu3,
  .loader .menu .index_menu4 {
    width: 100%;
    height: 100px;
  }
}

.loader .menu .open {
  width: 400px;
  z-index: 3;
}

@media (max-width: 1250px) {
  .loader .menu .open {
    width: 100%;
  }
}

.loader .menu .menu_title1,
.loader .menu .menu_title2,
.loader .menu .menu_title3,
.loader .menu .menu_title4 {
  width: 100%;
  height: 30%;
  background-color: #69B1C2;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  opacity: .7;
  text-align: center;
  letter-spacing: .3em;
  line-height: 1.5em;
  font-size: 1.3em;
  padding-top: 3%;
}

@media (max-width: 1250px) {
  .loader .menu .menu_title1,
  .loader .menu .menu_title2,
  .loader .menu .menu_title3,
  .loader .menu .menu_title4 {
    height: 45%;
  }
}

@media (max-width: 540px) {
  .loader .menu .menu_title1,
  .loader .menu .menu_title2,
  .loader .menu .menu_title3,
  .loader .menu .menu_title4 {
    padding-top: 1%;
    font-size: 0.8em;
  }
}

.loader .index_menu1 {
  background-image: url("../img/index/4cards/transportation.jpg");
  background-size: cover;
  position: absolute;
  left: 5%;
  top: -5%;
}

@media (max-width: 1250px) {
  .loader .index_menu1 {
    background-image: url("../img/index/4cards/515x150/交通資訊515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 700px) {
  .loader .index_menu1 {
    background-image: url("../img/index/4cards/260x100/交通資訊260x100.png");
  }
}

.loader .index_menu2 {
  background-image: url("../img/index/4cards/food.jpg");
  background-size: cover;
  background-position: 40% 0%;
  position: absolute;
  left: 30%;
  top: 5%;
}

@media (max-width: 1250px) {
  .loader .index_menu2 {
    background-image: url("../img/index/4cards/515x150/吃飽喝足515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 700px) {
  .loader .index_menu2 {
    background-image: url("../img/index/4cards/260x100/吃飽喝足260x100.png");
  }
}

.loader .index_menu3 {
  background-image: url("../img/index/4cards/accommodation.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 55%;
  top: -5%;
}

@media (max-width: 1250px) {
  .loader .index_menu3 {
    background-image: url("../img/index/4cards/515x150/夢入佳境515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 700px) {
  .loader .index_menu3 {
    background-image: url("../img/index/4cards/260x100/夢入佳境260x100.png");
    background-size: 100% 100%;
  }
}

.loader .index_menu4 {
  background-image: url("../img/index/4cards/attractions.jpg");
  background-size: cover;
  position: absolute;
  left: 80%;
  top: 5%;
}

@media (max-width: 1250px) {
  .loader .index_menu4 {
    background-image: url("../img/index/4cards/515x150/海闊天空515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 700px) {
  .loader .index_menu4 {
    background-image: url("../img/index/4cards/260x100/海闊天空260x100.png");
  }
}

.index_title {
  width: 141px;
  color: white;
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  letter-spacing: .3em;
  line-height: 1.5em;
}

@media (max-width: 1250px) {
  .index_title {
    top: 0%;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    font-size: 0%;
    width: 150px;
    height: 50px;
    background-image: url("../img/nav/Logo.svg");
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes loading_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
    display: none;
    opacity: 0;
  }
}

@keyframes loading_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes menu_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes menu_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/*# sourceMappingURL=index_style.css.map */