* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.loader {
  width: 100%;
  height: 100vh;
  background-image: url("../img/index/background.jpg");
  background-size: cover;
}

.loader .cloud {
  width: 100%;
  height: 100%;
  background-image: url("../img/index/animation_background.jpg");
  background-size: cover;
  -webkit-animation: loading_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: loading_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader .menu {
  width: 70%;
  height: 60%;
  position: absolute;
  top: 44%;
  left: 47%;
  -webkit-transform: translate(-46%, -42%);
          transform: translate(-46%, -42%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1250px) {
  .loader .menu {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    width: 43%;
    height: 97vh;
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 786px) {
  .loader .menu {
    width: 69%;
    height: 80vh;
  }
}

@media (max-width: 540px) {
  .loader .menu {
    width: 69%;
    height: 70vh;
  }
}

.loader .menu .index_menu1,
.loader .menu .index_menu2,
.loader .menu .index_menu3,
.loader .menu .index_menu4 {
  width: 17%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-animation: menu_animation1280 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: menu_animation1280 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1250px) {
  .loader .menu .index_menu1,
  .loader .menu .index_menu2,
  .loader .menu .index_menu3,
  .loader .menu .index_menu4 {
    width: 100%;
    height: calc((100% - 75px)/4);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-animation: menu_animation1250 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
            animation: menu_animation1250 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@media (max-width: 786px) {
  .loader .menu .index_menu1,
  .loader .menu .index_menu2,
  .loader .menu .index_menu3,
  .loader .menu .index_menu4 {
    width: 100%;
    height: 120px;
  }
}

@media (max-width: 540px) {
  .loader .menu .index_menu1,
  .loader .menu .index_menu2,
  .loader .menu .index_menu3,
  .loader .menu .index_menu4 {
    width: 100%;
    height: 100px;
  }
}

.loader .menu .open {
  width: 34%;
  z-index: 3;
}

@media (max-width: 1250px) {
  .loader .menu .open {
    width: 100%;
  }
}

.loader .menu .menu_title1,
.loader .menu .menu_title2,
.loader .menu .menu_title3,
.loader .menu .menu_title4 {
  width: 100%;
  height: 30%;
  background-color: #69B1C2;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  opacity: .7;
  text-align: center;
  letter-spacing: .3em;
  line-height: 1.5em;
  font-size: 1.3em;
  padding-top: 3%;
}

.loader .menu .menu_title1 p:nth-child(1),
.loader .menu .menu_title2 p:nth-child(1),
.loader .menu .menu_title3 p:nth-child(1),
.loader .menu .menu_title4 p:nth-child(1) {
  position: absolute;
  top: 63%;
  left: 7%;
}

.loader .menu .menu_title1 p:nth-child(2),
.loader .menu .menu_title2 p:nth-child(2),
.loader .menu .menu_title3 p:nth-child(2),
.loader .menu .menu_title4 p:nth-child(2) {
  position: absolute;
  top: 78%;
  left: 7%;
}

@media (max-width: 1250px) {
  .loader .menu .menu_title1,
  .loader .menu .menu_title2,
  .loader .menu .menu_title3,
  .loader .menu .menu_title4 {
    height: 100%;
    font-size: 1em;
  }
}

@media (max-width: 540px) {
  .loader .menu .menu_title1,
  .loader .menu .menu_title2,
  .loader .menu .menu_title3,
  .loader .menu .menu_title4 {
    padding-top: 1%;
    font-size: 0.8em;
  }
}

.loader .index_menu1 {
  background-image: url("../img/index/4cards/transportation.jpg");
  background-size: cover;
  position: absolute;
  top: -5%;
  left: 5%;
}

@media (max-width: 1250px) {
  .loader .index_menu1 {
    background-image: url("../img/index/4cards/515x150/transportation515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 786px) {
  .loader .index_menu1 {
    background-image: url("../img/index/4cards/260x100/transportation260x100.png");
  }
}

.loader .index_menu2 {
  background-image: url("../img/index/4cards/food.jpg");
  background-size: cover;
  background-position: 40% 0%;
  position: absolute;
  top: 5%;
  left: 25%;
}

@media (max-width: 1250px) {
  .loader .index_menu2 {
    background-image: url("../img/index/4cards/515x150/food515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 786px) {
  .loader .index_menu2 {
    background-image: url("../img/index/4cards/260x100/food260x100.png");
  }
}

.loader .index_menu3 {
  background-image: url("../img/index/4cards/accommodation.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -5%;
  left: 45%;
}

@media (max-width: 1250px) {
  .loader .index_menu3 {
    background-image: url("../img/index/4cards/515x150/accommodation515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 786px) {
  .loader .index_menu3 {
    background-image: url("../img/index/4cards/260x100/accommodation260x100.png");
    background-size: 100% 100%;
  }
}

.loader .index_menu4 {
  background-image: url("../img/index/4cards/attractions.jpg");
  background-size: cover;
  background-position: 75% 0%;
  position: absolute;
  left: 65%;
  top: 5%;
}

@media (max-width: 1250px) {
  .loader .index_menu4 {
    background-image: url("../img/index/4cards/515x150/attractions515x150.png");
    position: relative;
    top: 0%;
    left: 0%;
  }
}

@media (max-width: 786px) {
  .loader .index_menu4 {
    background-image: url("../img/index/4cards/260x100/attractions260x100.png");
  }
}

.index_title {
  width: 141px;
  color: white;
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
          animation: menu_animation 2s cubic-bezier(0.68, 0.29, 0, 1.69) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  letter-spacing: .3em;
  line-height: 1.5em;
}

@media (max-width: 1250px) {
  .index_title {
    top: 0%;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    font-size: 0%;
    width: 150px;
    height: 50px;
    background-image: url("../img/nav/Logo.svg");
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes loading_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
    display: none;
    opacity: 0;
  }
}

@keyframes loading_animation {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 300% 100%, 0 -100%);
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes menu_animation1280 {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes menu_animation1280 {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes menu_animation1250 {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes menu_animation1250 {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
/*# sourceMappingURL=index_style.css.map */